<h1>Index</h1>

<% if notice %>
    <div style="text-">
        <%= notice %>
    </div>
<% end %>

<%= link_to "Logar", new_user_session_path %>

<%= link_to "Contatos", contacts_index_path %>

<%= link_to "Usuários", users_index_path %>

<%= link_to "Sair", destroy_user_session_path, method: :delete %>